*{
  background-color: rgb(24, 66, 104);
  
}
h1{
  border-radius: 1vw;
  text-align: center;
}
.includes{
  background-color: black;
  color: whitesmoke;
}
.doesntInclude{
  background-color: whitesmoke;
  color: black;
}
textarea{
  width: 70vw;
  height: 30vw;
  font-size: 2vw;
}
.includesNumbers{
  background-color: #f8ed56;
  color: #f8566b;
}
.din{
  background-color: #4dddab;
  color: #4d80dd;
}
.includesLowerCase > textarea{
  font-family: 'Courier New', Courier, monospace;
}
.dil > textarea{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2vw;
}
.asterisks > div > textarea{
  font-family: serif;
  font-style: oblique;
  font-size: 4vw;
}
.green > div > div > textarea{
  color: #11885e;
  background-color: aliceblue;
}